{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category index{% endtrans %}{% endblock %}

{% block body %}
<br>
    <h1>{% trans %}Category index{% endtrans %}</h1>
<br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Shortname{% endtrans %}</th>
                <th>{% trans %}Longname{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    {% if is_granted('ROLE_USER')  %}
                    <a  type="button" class="btn btn-danger" href="{{ path('category_show', {'id': category.id}) }}">
                        <i class="far fa-eye"></i>
                        {% trans %}show{% endtrans %}</a>
                    {% endif %}  
                    {% if is_granted('ROLE_ADMIN') %}  
                    <a  type="button" class="btn btn-danger" href="{{ path('category_edit', {'id': category.id}) }}">
                        <i class="far fa-edit"></i> 
                        {% trans %}edit{% endtrans %}</a>
                    {% endif %}
                    {% if  is_granted('ROLE_SUPER_ADMIN')%}
                    <a  type="button" class="btn btn-danger"  href="{{ path('category_delete', {'id': category.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                        {% trans %}delete{% endtrans %}
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}  
    <a  class="btn btn-primary" href="{{ path('category_new') }}">Create new</a>
    {% endif %}
{% endblock %}
