{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{% trans %}Category{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Shortname{% endtrans %}</th>
                <td>{{ category.shortname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Longname{% endtrans %}</th>
                <td>{{ category.longname }}</td>
            </tr>
        </tbody>
    </table>
    {% if  is_granted('ROLE_USER')%}
    <a href="{{ path('category_index') }}" class="btn btn-danger">{% trans %}back to list{% endtrans %}</a>
    {% endif %}

    {% if  is_granted('ROLE_ADMIN')%}
    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-danger">{% trans %}edit{% endtrans %}</a>
    {% endif %}

    {% if  is_granted('ROLE_SUPER_ADMIN')%}
    <a href="{{ path('category_delete', {'id': category.id})  }}" class="btn btn-danger">{% trans %}delite{% endtrans %}</a>
    {% endif %}

{% endblock %}
